bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
publish

# Rider
# Rider auto-generates .iml files, and contentModel.xml
**/.idea/**/*.iml
**/.idea/**/contentModel.xml
**/.idea/**/modules.xml